
/* HEADER */
@media screen and (max-width:1080px) and (min-width:01px) { 
    .top-header{
        display: none;
    }

    .logo {
        display: none;
    }

    .content-header {
        display: none;
    }
    
    .menu-rp-container {
        width: 90%;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-rp-container .menu-rp,
    .menu-rp-container .user-rp {
        font-size: 32px;
        color: white;
        cursor: pointer;
    }

    .menu-rp-container .menu-rp:hover,
    .menu-rp-container .user-rp:hover {
        color: black;
        cursor: pointer;
    }

    .menu-rp-container .logo-rp {
        height: 100%;
        width: 100%;
        padding: 7px;
    }

    .menu-rp-container .logo-rp .logo-link{
        display: block;
        width: 20%;
        height: 100%;
        margin: auto;
    }

    .menu-rp-container .logo-rp a img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .toggle-2 {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0 !important;
    }

    .menu-item-rp,
    .user-item-rp {
        padding-top:70px ;
        width: 300px;
        position: fixed;
        top: 0;
        bottom: 0;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        list-style: none;
        transform: translateX(-100%);
        transition: transform 0.25s linear;
        background-color: #fff;
    }
    .menu-item-rp {
        left: 0;
    }

    .user-item-rp {
        position: fixed;
        right: 0 !important;
        top: 0;
        bottom: 0;
        transform: translateX(100%);
    }

    .menu-item-rp.is-show,
    .user-item-rp.is-show {
        transform: translateX(0);
    }
    .header-item-rp {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .header-item-rp i{
        font-size: 32px;

    }
    .menu-link {
        display: block;
        padding: 15px 10px;
        color: #e31837;
        border-bottom: 1px solid #eee;
        font-family: 'Mulish';
        text-decoration: none;
        font-weight: 700;
        font-size: 17px;
    }
    .menu-toggle,.user-toggle {
        cursor: pointer;
        position: relative;
        z-index: 9999;
    }


}


@media screen and (max-width:1250px) and (min-width:501px) {
    .mainContent {
        background-image: none;
    }
    .item-products {
        width: 90%;
        margin: auto;
        padding: 70px 10px 30px 10px;
    }

    .item-product {
        width: 200px;
        border: none;
        max-height: 500px;
        margin-bottom: 20px;
    }

    .name-product {
        height: 40px;
    }
    .name-product {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menuFixed-list-item {
        width: 100% !important;
        padding: 20px 30px 30px 30px;
    }

    .menuFixed-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .menuFixed-content h1 {
        font-size: 10px;

    }

}

@media screen and (max-width:950px) and (min-width:301px) { 
    .item-product {
        flex: 1 0 50%;
        height: 450px;
        max-width: 400px;
        margin-bottom: 40px;
    }

    .sale {
        width: 70px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ff0009;
        margin: 5px;
    }

    .img-product {
        width: 200px;
    }

}
